[flake8]
select = ANN,C,E,F,W,I,BLK,B,B9,D,DAR
ignore = ANN002,ANN003,ANN101,E203,E501,E741,W503,D105,D107,DAR203
max-line-length = 90
max-complexity = 10
application-import-names = libdlfind,tests
import-order-style = google
docstring-convention = google
strictness = short
per-file-ignores =
    tests/*:S101,ANN
    noxfile.py:ANN
    setup.py:D100,BLK100
extend-exclude = .nox
builtins =